<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <meta lang="en-Us">
    <meta name="keywords" content="Beautyproducts,beauty">
    <meta name="description" content="India's largest beauty shop , Purchase Now!!">
    <meta name="author" content="beautyproducts.com">

    <link rel="stylesheet" href="style/style.css">
</head>
<body>

    <!-- Start Nav Coding-->

    <nav>
        <h1 id="welcome">Welcome !</h1>
        <table id="menu" align="center" cellspacing="10px">
            <tr>
                <td id="nav-item"><a href="Index.html">Home</a></td>
                <td id="nav-item"><a href="products.html">Products</a></td>
                <td id="nav-item"><a href="contact.html">Contact Us</a></td>
                <td id="nav-item"><a href="#">Sign Up</a></td>
                <td id="nav-item"><a href="login.html">Login</a></td>
            </tr>
        </table>
    </nav>
    <!-- Start Nav Coding-->

    <!-- Start Section Coding-->

    <section id="home-section">
        <center>
        <div id="logo">
            <h1 id="logo-text">B</h1>
        </div>
        </center>
        <p id="domain">Beautyproducts.com</p>


    </section>
    <!--End Section Coding-->

</body>
</html>
